[Unit]
Description=FotobudkaService
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/fotobudka.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
