[Unit]
Description=FotobudkaService
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=oneshot
User=pi
RemainAfterExit=yes
ExecStart=python3 /home/pi/foto_budka/fotobudka.py -c /home/pi/foto_budka/raspi_global_paths.json
TimeoutStartSec=0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0.0

[Install]
WantedBy=multi-user.target
